
QDRANT_API_KEY="test"
QDRANT_URL=http://qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=ollama

OLLAMA_URL=http://ollama
OLLAMA_MODEL=mixtral
OLLAMA_MODEL_VERSION=latest
OLLAMA_API_KEY=some_key
EMBEDDING_MODEL=intfloat/multilingual-e5-base


# For AWS Credentials - Recommended to use assume role for service if running on AWS instead of this
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# use aws or gcs
CLOUD_PROVIDER=aws
DOCUMENTS_BUCKET=

# The number of elements the simimilarity search should return
AMOUNT_SIMILARITY_SEARCH_RESULTS=20

# Reranker model
ACTIVATE_RERANKER=True




